.ng-table-pagination{
    display: flex;
    justify-content: center;
}
.ng-table-pagination a {
    color: black;
    float: right;
    padding: 8px 16px;
    text-decoration: none;
}
.ng-table-pagination-page-size{
    display: flex;
    justify-content: right;
}
.ng-table-fixedcolumn1 {
    position:absolute;
    width:5em;
    left:0;
    top:auto;
}

.modal-md {
    max-width: 350px; /* Adjust this value as needed */
}

.modal-md1 {
    max-width: 450px; /* Adjust this value as needed */
}

.custom-modal .modal-body .form-control {
    border: none; /* Remove default border */
    border-bottom: 1px solid #ccc; /* Add bottom border */
    border-radius: 0; /* Remove border radius */
    background-color: transparent; /* Remove background color */
    box-shadow: none; /* Remove box shadow */
}

/* Add focus styles */
.custom-modal .modal-body .form-control:focus {
    border-color: #42F3FA;
}
.custom-font {
    font-family: 'YourCustomFont', sans-serif;
}

.equal-width-button {
    width: 50%;
    height: 100%;
}
.active-button {
    border: 1px solid #ced4da; /* Add border to active button */
}

.preview-image {
    max-width: 300px; /* Set the maximum width you desire */
    max-height: 300px; /* Set the maximum height you desire */
}
.equal-width-buttons {
    width: 100%;
    max-width: 170px; /* Adjust this value to control the maximum width of the buttons */
}
.square-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px; /* Optional: Add rounded corners */
}
.small-image {
    width: 1.5in; /* Adjust image width */
    height: auto;
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    border-radius: 10px; /* Optional: Add rounded corners */
}
.card-content {
    flex-grow: 1; /* Allow content to grow and fill available space */
    padding-left: 1px; /* Add padding to the left side */
    padding-right: 10px;
}
.header-text {
    font-size: 12px; /* Adjust header text size */
    margin-top: 5px; /* Add a small margin to separate from the icon */
}
.details-text {
    font-size: 13px; /* Adjust student details text size */
    margin-bottom: 5px; /* Reduce the spacing between details */
}
.details-text:last-child {
    margin-bottom: 0; /* Remove margin from the last details item */
}

.id-card-modal {
    border: 2px solid #333; /* Add a border around the modal content */
    border-radius: 10px; /* Add rounded corners to the border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
}

.truncate-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; /* Adjust this value as needed */
}
