.ng-table-scrollcontainer {
    width: 300px;
    overflow-x:scroll;
    margin-left:10em;
    overflow-y:visible;
}
.ng-table-fixedcolumn1 {
    position:absolute;
    width:5em;
    left:0;
    top:auto;
}
.ng-table-fixedcolumn2 {
    position:absolute;
    width:5em;
    left:5em;
    top:auto;
}
.ng-table-fixedcolumn3 {
    position:absolute;
    width:5em;
    left:10em;
    top:auto;
}

