<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="icon" type=".png" href="/icon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="style.css">
    <link type="text/css" href="/print-style.css" media="print">
    <style>

    </style>
</head>

<body ng-app="student" ng-controller="LibraryController">

    <div ng-include="'helper/navbar.html'"></div>

    <div ng-include="'helper/AuthModal.html'"></div>
    <div ng-include="'helper/Modal_Register.html'"></div>

    <div ng-include="'helper/Modal_Contact.html'"></div>

    <div ng-include="'helper/home-content.html'"></div>
    <div ng-include="'helper/Modal.html'"></div>
    <div ng-include="'helper/Modal_QueryShow.html'"></div>

    <div class="container " ng-show="showLibrary">

        <div ng-include="'helper/Modal.html'"></div>
        <div ng-include="'helper/data-content.html'"></div>
        <div ng-include="'helper/Modal_QueryShow.html'"></div>


    </div>
    <div ng-include="'helper/Modal_Profile.html'"></div>

    <div ng-include="'helper/Modal_Data.html'"></div>
    <div ng-include="'helper/Modal_Id.html'"></div>


<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script src="Javascript/app.js"></script>
    <script src="Javascript/print.js"></script>
</body>

</html>