<div class="modal fade rounded-4" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="logInModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-md custom-modal" role="document">
        <div class="modal-content">
            <div class="modal-header text-center bg-primary text-white">
                <h5 class="modal-title custom-font" id="logInModalLabel">Sign In</h5>
            </div>
            <div class="modal-body">
                <form ng-submit="logInData()">
                    <p class="text-danger" ng-show="logInErrorStatus"> {{logInError}}</p>
                    <br>
                    <div class="form-group">
                        <input type="text" class="form-control" required ng-model="login.uemail" id="uemail" placeholder="Enter Email Address">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" required ng-model="login.upassword" id="upassword" placeholder="Enter password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    <p class="mt-3 text-center">Don't have an account? <a class="text-primary" href="#" ng-click="twoModal('register','logIn')">Register here</a></p>
                    <div class="mt-2 text-center">OR</div>
                    <p class="mt-3 text-center">Forgot Password? <span class="text-primary" ng-click="resetPassword()">Reset here</span></p>
                </form>
            </div>
            <div class="modal-footer bg-light">
                <div class="w-100 text-center">
                    <p class="mb-0">Log in with</p>
                    <button class="btn btn-outline-primary rounded-circle mx-2"><i class="fab fa-facebook-f"></i></button>
                    <button ng-click="googlelogin()" class="btn btn-outline-danger rounded-circle mx-2 g-signin2"><i class="fab fa-google"></i></button>
                    <button class="btn btn-outline-info rounded-circle mx-2"><i class="fab fa-twitter"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="logOutModal" tabindex="-1" role="dialog" aria-labelledby="logOutModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center" style="padding: 30px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="fa fa-sign-out" style="font-size:48px;color : #333333;"></i>
                <p class="mb-3" style="font-size: 35px;">Wanna Log Out?</p>
                <p class="mb-3">You will be Missed !!</p>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="logOut()">Log Out</button>

            </div>

        </div>
    </div>
</div>
