
<div class="container " ng-show="showLibrary">
    <div class="card shadow-none p-3 mb-5 bg-light rounded">
        <h5 class="card-header">Search for Records:</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <input type="text" ng-model="keywordName" class="form-control" placeholder="Enter Name">
                </div>
                <div class="col-md-2">
                    <input type="text" ng-model="keywordEmail" class="form-control" placeholder="Enter Email">
                </div>
                <div class="col-md-2">
                    <input type="text" ng-model="keywordSemester" class="form-control" placeholder="Enter Semester">
                </div>
                <div class="col-md-1">
                    <button ng-click="searchKeywords()" class="btn btn-primary">Search</button>
                </div><!--
                <div class="col-md-1">
                    <button ng-click="Reset()" class="btn btn-secondary">Reset</button>
                </div>-->
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary" ng-click="addStudentModal()" ng-show="showTable">Add Students</a>
                    <a href="#" class="btn btn-primary" ng-click="addBookModal()" ng-show="!showTable">Add Book</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow p-3 mb-5 bg-white rounded" ng-show="showTable">
        <h5 class="card-header">Student Details</h5>
        <div class="card-body">
            <table ng-table="tableParams" class="table" show-filter="true">
                <tr ng-repeat="student in $data">
                    <td title="'SN'" ng-bind="$index+1 "></td>
                    <td title="'ID'" class="text-center align-middle"  sortable="'id'" filter="{ 'id': 'number' }">{{student.id}}</td>
                    <td class="text-center align-middle" title="'First Name'" sortable="'fName'" filter="{ 'fName': 'text' }">{{student.fName}}</td>
                    <td class="text-center align-middle" title="'Last Name'" sortable="'lName'" filter="{ 'lName': 'text' }">{{ student.lName}}</td>
                    <td class="text-center align-middle" title="'Email'" sortable="'name'" filter="{ 'email': 'text' }">{{student.email}}</td>
                    <td class="text-center align-middle" title="'Semester'" sortable="'semester'" filter="{ 'semester': 'text' }">{{student.semester}}</td>
                    <td title="Delete"><a href="#" ng-click="deleteStudent(student.id)" class="btn btn-danger">Delete</a></td>
                    <td title="Update"><a href="#" ng-click="doUpdate(student.id)" class="btn btn-warning">Update</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card shadow p-3 mb-5 bg-white rounded" ng-show="!showTable">
        <div class="card-header">
            <div class="row justify-content-between">
                <div class="col-md-6 align-middle">
                    <h5>Book Details</h5>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <!-- Add the dropdown button in the card header -->
                    <select ng-model="SearchCategory" ng-click="byStatus(SearchCategory)" class="form-control" style="width: auto;">
                        <option value = "null">All Books</option>
                        <option value="1">Borrowed Book</option>
                        <option value="0">InShelf Book</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="card-body">
            <table ng-table="tableParams1" class="table text-center" show-filter="true">
                <tr ng-repeat="book in $data">
                    <td class="text-center align-middle" title="'SN'" ng-bind="$index+1 "></td>
                    <td class="text-center align-middle" title="'Book Code'" sortable="'bcode'" filter="{ 'bcode': 'text' }">{{book.bcode}}</td>
                    <td class="text-center align-middle" title="'Book Name'" sortable="'bname'" filter="{ 'bname': 'text' }">{{book.bname}}</td>
                    <td class="text-center align-middle" title="'Book Author'" sortable="'bauthor'" filter="{ 'bauthor': 'text' }">{{book.bauthor}}</td>
                    <td class="text-center align-middle" title="'Published Year'" sortable="'year'" filter="{ 'year': 'number' }">{{book.year}}</td>
                    <td class="text-center align-middle" title="'Status  '" sortable="'status'" filter="{ 'status': 'number' }">{{ book.status === 0 ? 'Available' : 'Borrowed' }}</td>
                    <td class="text-center align-middle" title="'Borrowed date'" sortable="'date'" filter="{ 'date': 'number' }">{{book.date}}</td>
                    <td class="text-center align-middle" title="'Borrowed by'" sortable="'date'" filter="{ 'date': 'number' }">{{book.studentDetails.fName+" "+book.studentDetails.lName}}</td>
                    <td class="text-center align-middle" title="Update"><a href="#" ng-click="doUpdateBook(book.bcode)" class="btn btn-warning">{{ book.status === 0 ? 'Borrow' : 'Return' }}</a></td>
                    <td class="text-center align-middle" title="Delete" ng-show="book.status === 0"><a href="#" ng-click="deleteBook(book.bcode)" class="btn btn-danger">Delete</a></td>
                    <td class="text-center align-middle" title="Delete" ng-show="book.status === 1"><a href="#" ng-click="showDetails(book.studentDetails.id)" class="btn btn-primary">Student Info</a></td>
                </tr>
            </table>
        </div>
    </div>

    <br>

    <div class="modal fade" id="updateStudentModal" tabindex="-1" role="dialog" aria-labelledby="updateStudentModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateStudentModalLabel">Update Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form ng-submit="update()">
                        <input type="hidden" name="id" ng-model="student.id">
                        <div class="form-group">
                            <label for="fName">First Name</label>
                            <input type="text" class="form-control" required ng-model="student.fName" id="fName" placeholder="Enter first name">
                            <br>
                            <label for="lName">Last Name</label>
                            <input type="text" class="form-control" required ng-model="student.lName" id="lName" placeholder="Enter last name">
                            <br>
                            <label for="email">Email</label>
                            <input type="email" class="form-control" required ng-model="student.email" id="email" placeholder="Enter email">
                            <br>
                            <label for="semester">Semester</label>
                            <input type="text" class="form-control" required ng-model="student.semester" id="semester" placeholder="Enter semester">
                            <br>
                        </div>
                        <button type="submit" class="btn btn-primary">Update Student</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addStudentModalLabel">Add a new Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form ng-submit="addStudent()">
                        <input type="hidden" name="id" ng-model="student.id">
                        <div class="form-group">
                            <label for="fName">First Name</label>
                            <input type="text" class="form-control" required ng-model="student.fName" id="fName" placeholder="Enter first name">
                            <br>
                            <label for="lName">Last Name</label>
                            <input type="text" class="form-control" required ng-model="student.lName" id="lName" placeholder="Enter last name">
                            <br>
                            <label for="email">Email</label>
                            <input type="email" class="form-control" required ng-model="student.email" id="email" placeholder="Enter email">
                            <br>
                            <label for="semester">Semester</label>
                            <input type="text" class="form-control" required ng-model="student.semester" id="semester" placeholder="Enter semester">
                            <br>
                            <label for="password">Password</label>
                            <input type="password" class="form-control" required ng-model="student.password" id="password" placeholder="Enter password">
                        </div>
                        <button type="submit" class="btn btn-primary">Add Student</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBookModalLabel">Add a new Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form ng-submit="addBook()">
                        <div class="form-group">
                            <label for="bcode">Book code</label>
                            <input type="text" class="form-control" required ng-model="book.bcode" id="bcode" placeholder="Enter Book Code">
                            <br>
                            <label for="bname">Book Name</label>
                            <input type="text" class="form-control" required ng-model="book.bname" id="bname" placeholder="Enter Book name">
                            <br>
                            <label for="bauthor">Book Author</label>
                            <input type="text" class="form-control" required ng-model="book.bauthor" id="bauthor" placeholder="Enter Author Name">
                            <br>
                            <label for="year">Publish Year</label>
                            <input type="number" class="form-control" required ng-model="book.year" id="year" placeholder="Enter Publish Yeat">
                            <br>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Book</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="addSuccessModal" tabindex="-1" role="dialog" aria-labelledby="SuccessModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SuccessModalLabel">Operation Successful</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ successMessage1 }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="SuccessModal" tabindex="-1" role="dialog" aria-labelledby="updateSuccessModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateSuccessModalLabel">Operation Successful</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ successMessage }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error Error Error!!!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ errorMessage }}
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="updateBookModal" tabindex="-1" role="dialog" aria-labelledby="updateStudentModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateBookModalLabel">Borrow Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form ng-submit="updateBook()">
                        <div class="form-group">
                            <label>Book ID :</label>
                            {{ book.bcode }}
                            <br>
                            <label>Book Name :</label>
                            {{ book.bname }}
                            <br>
                            <div class="row" ng-show="book.status === 0">
                                <div class="col-md-5">
                                    <label>Student ID</label>
                                    <input type="text" class="form-control" required ng-model="book.studentDetails" id="studentDetails" placeholder="Student ID">
                                </div>
                            </div>
                            <div ng-show="book.status === 1">
                                <label>Borrowed by </label>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Student ID : </label><br>
                                        {{ book.studentDetails.id }}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Student Name : </label><br>
                                        {{ book.studentDetails.fName + ' ' + book.studentDetails.lName }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">{{ book.status === 0 ? 'Register Borrow' : 'Return' }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="showDetailsModal" tabindex="-1" role="dialog" aria-labelledby="DetailModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="showDetailsModalLabel">Operation Successful</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <table class="table text-center align-middle">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Student Id</th>
                        <th scope="col">Student Name</th>
                        <th scope="col">Semester</th>
                        <th scope="col">Book Code</th>
                        <th scope="col">Book name</th>
                        <th scope="col">Borrowed Date</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="detail in details">
                        <th scope="row" ng-bind="detail.studentDetails.id"></th>
                        <td ng-bind="detail.studentDetails.fName + ' ' + detail.studentDetails.lName"></td>
                        <td ng-bind="detail.studentDetails.semester"></td>
                        <td ng-bind="detail.bcode"></td>
                        <td ng-bind="detail.bname"></td>
                        <td ng-bind="detail.date"></td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>



</div>
