
    <div class="card shadow-none p-3 mb-5 bg-light rounded" ng-show="role === 'ADMIN'">
        <h5 class="card-header">Search for Records:</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <input type="text" ng-model="keywordName" class="form-control" placeholder="Enter Name">
                </div>
                <div class="col-md-2">
                    <input type="text" ng-model="keywordEmail" class="form-control" placeholder="Enter Email">
                </div>
                <div class="col-md-2">
                    <input type="text" ng-model="keywordSemester" class="form-control" placeholder="Enter Semester">
                </div>
                <div class="col-md-1">
                    <button ng-click="searchKeywords()" class="btn btn-primary">Search</button>
                </div>
                <div class="col-md-1">
                    <button ng-click="Reset()" class="btn btn-secondary">Reset</button>
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-primary" ng-click="addStudentModal()" ng-show="showTable">Add Students</a>
                    <a href="#" class="btn btn-primary" ng-click="addBookModal()" ng-show="!showTable">Add Book</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow p-3 mb-5 bg-white rounded" ng-show="showTable">
        <h5 class="card-header">Student Details</h5>
        <div class="card-body">
            <table ng-table="tableParams" class="table" show-filter="true">
                <tr ng-repeat="student in $data">
                    <td title="'SN'" ng-bind="$index+1 "></td>
                    <td title="'ID'" class="text-center align-middle"  sortable="'id'" filter="{ 'id': 'number' }">{{student.id}}</td>
                    <td class="text-center align-middle" title="'First Name'" sortable="'fname'" filter="{ 'fname': 'text' }">{{student.fname}}</td>
                    <td class="text-center align-middle" title="'Last Name'" sortable="'lname'" filter="{ 'lname': 'text' }">{{ student.lname}}</td>
                    <td class="text-center align-middle" title="'Email'" sortable="'email'" filter="{ 'email': 'text' }">{{student.email}}</td>
                    <td class="text-center align-middle" title="'Semester'" sortable="'semester'" filter="{ 'semester': 'text' }">{{student.semester}}</td>
                    <td title="Delete"><a href="#" ng-click="deleteStudent(student.id)" class="btn btn-danger">Delete</a></td>
                    <td title="Update"><a href="#" ng-click="doUpdate(student.id)" class="btn btn-warning">Update</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card shadow p-3 mb-5 bg-white rounded" ng-show="!showTable">
        <div class="card-header">
            <div class="row justify-content-between">
                <div class="col-md-6 align-middle">
                    <h5>Book Details</h5>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <select ng-model="SearchCategory" ng-click="byStatus(SearchCategory)" class="form-control" style="width: auto;">
                        <option value = "null">All Books</option>
                        <option value="1">Borrowed Book</option>
                        <option value="0">InShelf Book</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-body" ng-show="role ==='ADMIN'">
            <table ng-table="tableParams1" class="table text-center" show-filter="true">
                <tr ng-repeat="book in $data">
                    <td class="text-center align-middle" title="'SN'" ng-bind="$index+1 "></td>
                    <td class="text-center align-middle" title="'Book Code'" sortable="'bcode'" filter="{ 'bcode': 'text' }">{{book.bcode}}</td>
                    <td class="text-center align-middle" title="'Book Name'" sortable="'bname'" filter="{ 'bname': 'text' }">{{book.bname}}</td>
                    <td class="text-center align-middle" title="'Book Author'" sortable="'bauthor'" filter="{ 'bauthor': 'text' }">{{book.bauthor}}</td>
                    <td class="text-center align-middle" title="'Published Year'" sortable="'year'" filter="{ 'year': 'number' }">{{book.year}}</td>
                    <td class="text-center align-middle" title="'Status  '" sortable="'status'" filter="{ 'status': 'number' }">{{ book.status === 0 ? 'Available' : 'Borrowed' }}</td>
                    <td class="text-center align-middle" title="'Borrowed date'" sortable="'date'" filter="{ 'date': 'number' }">{{book.date}}</td>
                    <td class="text-center align-middle" title="'Borrowed by'" sortable="'date'" filter="{ 'date': 'number' }">{{book.studentDetails.fname+" "+book.studentDetails.lname}}</td>
                    <td class="text-center align-middle" title="Update"><a href="#" ng-click="doUpdateBook(book.bcode)" class="btn btn-warning">{{ book.status === 0 ? 'Borrow' : 'Return' }}</a></td>
                    <td class="text-center align-middle" title="Delete" ng-show="book.status === 0"><a href="#" ng-click="deleteBook(book.bcode)" class="btn btn-danger">Delete</a></td>
                    <td class="text-center align-middle" title="Delete" ng-show="book.status === 1"><a href="#" ng-click="showDetails(book.studentDetails.id)" class="btn btn-primary">Student Info</a></td>
                </tr>
            </table>
        </div>
        <div class="card-body" ng-hide="role ==='ADMIN'">
            <table ng-table="tableParams1" class="table text-center" show-filter="true">
                <tr ng-repeat="book in $data">
                    <td class="text-center align-middle" title="'SN'" ng-bind="$index+1 "></td>
                    <td class="text-center align-middle" title="'Book Code'" sortable="'bcode'" filter="{ 'bcode': 'text' }">{{book.bcode}}</td>
                    <td class="text-center align-middle" title="'Book Name'" sortable="'bname'" filter="{ 'bname': 'text' }">{{book.bname}}</td>
                    <td class="text-center align-middle" title="'Book Author'" sortable="'bauthor'" filter="{ 'bauthor': 'text' }">{{book.bauthor}}</td>
                    <td class="text-center align-middle" title="'Published Year'" sortable="'year'" filter="{ 'year': 'number' }">{{book.year}}</td>
                    <td class="text-center align-middle" title="'Status  '" sortable="'status'" filter="{ 'status': 'number' }">{{ book.status === 0 ? 'Available' : 'Borrowed' }}</td>
                </tr>
            </table>
        </div>
    </div>

    <br>
