<div class="container" ng-show="!showLibrary">
    <div class="card shadow p-3 mb-5 bg-white rounded" ng-show="role !== 'ADMIN' ">
        <h5 class="card-header text-center">Library Management System</h5>
        <div class="card-body">
            <p>
                This Library Management System is a web-based application that facilitates the management of a library's resources and operations. It allows librarians to handle various tasks efficiently while providing users with easy access to the library's catalog and services.
            </p>
            <h4>Key Features:</h4>
            <ul>
                <li>User-Friendly Interface: The system has a user-friendly interface that makes it easy for both librarians and library users to navigate and interact with the application.</li>
                <li>Search and Filter: Users can search for books and other resources using different criteria like title, author, email, and semester. The system also provides filtering options to refine search results.</li>
                <li>Student and Book Management: Librarians can manage student and book information efficiently. They can add new students, update existing student details, and delete student records. Similarly, they can add new books to the library, update book information, and remove books from the catalog.</li>
                <li>Pagination: The system supports pagination, which means that large datasets are divided into pages, making it easier to browse through the information.</li>
                <li>Borrowing and Returning: The system handles the borrowing and returning of books by students. It keeps track of the borrowing history, due dates, and fines for overdue items.</li>
                <li>Book Status: The system maintains the status of books, indicating whether they are available in the library or currently borrowed by students.</li>
                <li>Student Details: For borrowed books, the system displays the student details who have borrowed the book, including the student's ID and name.</li>
                <li>Updates and Deletes: Librarians can update book information and student details when needed. They can also delete student records and book records from the database.</li>
                <li>Success Modals: The system uses modal pop-ups to display success messages when operations like adding, updating, or deleting records are successful.</li>
                <li>Responsive Design: The application is responsive, ensuring that it adapts to different screen sizes and devices, providing an optimal user experience.</li>
                <li>AngularJS and ngTable: The system is built using AngularJS framework and utilizes the ngTable module for table display and pagination.</li>
                <li>Integration with Backend APIs: The system communicates with backend APIs to fetch and store data from and to the database.</li>
            </ul>
        </div>
    </div>
    <div ng-show="role === 'ADMIN' && adminMenu">
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome back, Admin</h1>
            <p>Easily manage your data from this admin <mark>CMS</mark></p>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 pt-3">
                    <div class="card" style="background-color:white;">
                        <div class="card-body">
                            <h4 class="card-title">Books</h4>
                            <p class="card-text">Manage the Books section here.</p>
                            <a ng-click="triggerBook()" class="card-link btn btn-primary" style="color: white;">Manage</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pt-3">
                    <div class="card" style="background-color:white;">
                        <div class="card-body">
                            <h4 class="card-title">Students</h4>
                            <p class="card-text">Manage all the Students here.</p>
                            <a ng-click="triggerStudent()" class="card-link btn btn-primary" style="color: white;">Manage</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pt-3">
                    <div class="card" style="background-color:white;">
                        <div class="card-body">
                            <h4 class="card-title">Queries</h4>
                            <p class="card-text">Manage all the Queries here.</p>
                            <div class="row">
                                <div class="col-md-5">
                                    <a ng-click="triggerQueries()" class="btn btn-primary" style="color: white;">Manage</a>
                                </div>
                                <div class="col-md-6  text-center align-self-center">
                                    <p class="card-text">New Queries: {{count}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div ng-show="role === 'ADMIN' && !adminMenu">

        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-header">
                <div class="row justify-content-between">
                    <div class="col-md-6 align-middle">
                        <h5>Queries List</h5>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <select ng-model="SearchCategory" ng-click="byStatus(SearchCategory,'query')" class="form-control" style="width: auto;">
                            <option value = "null">All Queries</option>
                            <option value="0">Unread Queries</option>
                            <option value="1">Unsolved Queries</option>
                            <option value="2">Solved Queries</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table ng-table="tableParams2" class="table" show-filter="true">
                    <tr ng-repeat="query in $data">
                        <td title="'SN'" class="text-center align-middle" ng-bind="$index+1 "></td>
                        <td  class="text-center align-middle" title="'Subject'" sortable="'subject'" filter="{ 'subject': 'text' }"><a href="#" ng-click="queryInDetails(query.id)" class="text-primary">{{query.querytopic}}</a></td>
                        <td class="text-center align-middle" title="'By'" sortable="'name'" filter="{ 'name': 'text' }">{{ query.name}}</td>
                        <td class="text-center align-middle" title="'Email'" sortable="'email'" filter="{ 'email': 'text' }">{{query.email}}</td>
                        <td class="text-center align-middle" title="'Contact'" sortable="'contact'" filter="{ 'contact': 'number' }">{{query.contact}}
                        <td class="text-center align-middle" title="'Created Date'" sortable="'date'" filter="{ 'date': 'number' }">{{query.date}}</td>
                        <td title="Status" class="text-center align-middle">
                            <a href="#" ng-click="solvedQuery(query.id)" class="btn btn-primary" ng-show="query.status !== 2">Solved</a>
                            <span ng-show="query.status === 2">Solved</span>
                        </td>
                        <td title="Delete"><a href="#" ng-click="deleteQuery(query.id)" class="btn btn-danger">Delete</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
