
<div class="modal fade" id="updateStudentModal" tabindex="-1" role="dialog" aria-labelledby="updateStudentModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateStudentModalLabel">Update Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ng-submit="update()">
                    <input type="hidden" name="id" ng-model="student.id">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="fname">First Name</label>
                                <input type="text" class="form-control" required ng-model="student.fname" id="fname" placeholder="Enter first name">
                            </div>
                            <div class="col-md-6">
                                <label for="lname">Last Name</label>
                                <input type="text" class="form-control" required ng-model="student.lname" id="lname" placeholder="Enter last name">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-7">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" required ng-model="student.email" id="email" placeholder="Enter email">
                            </div>
                            <div class="col-md-5">
                                <label for="semester">Semester</label>
                                <input type="text" class="form-control" required ng-model="student.semester" id="semester" placeholder="Enter semester">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="Address">Address</label>
                                <input type="text" class="form-control" required ng-model="student.address" id="address" placeholder="Enter Address">
                            </div>
                            <div class="col-md-6">
                                <label for="phone">Phone Number</label>
                                <input type="text" class="form-control" required ng-model="student.contact" id="phone" placeholder="Enter Phone Number">
                            </div>
                        </div>
                        <br>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Student</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addStudentModalLabel">Add a new Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ng-submit="addStudent()">
                    <input type="hidden" name="id" ng-model="student.id">
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <input type="text" class="form-control" required ng-model="student.fname" id="fname" placeholder="Enter first name">
                        <br>
                        <label for="lname">Last Name</label>
                        <input type="text" class="form-control" required ng-model="student.lname" id="lname" placeholder="Enter last name">
                        <br>
                        <label for="email">Email</label>
                        <input type="email" class="form-control" required ng-model="student.email" id="email" placeholder="Enter email">
                        <br>
                        <label for="semester">Semester</label>
                        <input type="text" class="form-control" required ng-model="student.semester" id="semester" placeholder="Enter semester">
                        <br>
                        <label for="password">Password</label>
                        <input type="password" class="form-control" required ng-model="student.password" id="password" placeholder="Enter password">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Student</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBookModalLabel">Add a new Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ng-submit="addBook()">
                    <div class="form-group">
                        <label for="bcode">Book code</label>
                        <input type="text" class="form-control" required ng-model="book.bcode" id="bcode" placeholder="Enter Book Code">
                        <br>
                        <label for="bname">Book Name</label>
                        <input type="text" class="form-control" required ng-model="book.bname" id="bname" placeholder="Enter Book name">
                        <br>
                        <label for="bauthor">Book Author</label>
                        <input type="text" class="form-control" required ng-model="book.bauthor" id="bauthor" placeholder="Enter Author Name">
                        <br>
                        <label for="year">Publish Year</label>
                        <input type="number" class="form-control" required ng-model="book.year" id="year" placeholder="Enter Publish Year">
                        <br>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Book</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateBookModal" tabindex="-1" role="dialog" aria-labelledby="updateStudentModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateBookModalLabel">Borrow Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ng-submit="updateBook()">
                    <div class="form-group">
                        <label>Book ID :</label>
                        {{ book.bcode }}
                        <br>
                        <label>Book Name :</label>
                        {{ book.bname }}
                        <br>
                        <div class="row" ng-show="book.status === 0">
                            <div class="col-md-5">
                                <label>Student ID</label>
                                <input type="text" class="form-control" required ng-model="book.studentDetails" id="studentDetails" placeholder="Student ID">
                            </div>
                        </div>
                        <div ng-show="book.status === 1">
                            <label>Borrowed by </label>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Student ID : </label><br>
                                    {{ book.studentDetails.id }}
                                </div>
                                <div class="col-md-7">
                                    <label>Student Name : </label><br>
                                    {{ book.studentDetails.fname + ' ' + book.studentDetails.lname }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">{{ book.status === 0 ? 'Register Borrow' : 'Return' }}</button>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="addSuccessModal" tabindex="-1" role="dialog" aria-labelledby="SuccessModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SuccessModalLabel">Operation Successful</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ successMessage1 }}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SuccessModal" tabindex="-1" role="dialog" aria-labelledby="updateSuccessModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateSuccessModalLabel">Operation Successful</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ successMessage }}
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="errorModalLabel">Error Error Error!!!</h5> <!-- Add the text-danger class here -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ errorMessage }}
            </div>
        </div>
    </div>
</div>






