
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="logOutModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-md1 custom-modal " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel"> {{studentRegister === true ?'Student':'Staff'}} Registration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-scrollable">
                <div class="button-group">
                    <button class="btn btn-light flex-fill equal-width-button" ng-class="{ 'active-button': studentRegister === true }" ng-click="studentRegister = true">Student</button>
                    <button class="btn btn-light flex-fill equal-width-button" ng-class="{ 'active-button': studentRegister === false }" ng-click="studentRegister = false">Staff</button>
                </div>

                <br>
                <div ng-show="studentRegister">

                    <form ng-submit="addStudent()">
                        <input type="hidden" name="id" ng-model="student.id">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="fname">First Name</label>
                                    <input type="text" class="form-control" required ng-model="student.fname" id="fname" placeholder="Enter first name">
                                </div>
                                <div class="col-md-6">
                                    <label for="lname">Last Name</label>
                                    <input type="text" class="form-control" required ng-model="student.lname" id="lname" placeholder="Enter last name">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-7">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" required ng-model="student.email" id="email" placeholder="Enter email">
                                </div>
                                <div class="col-md-5">
                                    <label for="semester">Semester</label>
                                    <input type="text" class="form-control" required ng-model="student.semester" id="semester" placeholder="Enter semester">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="Address">Address</label>
                                    <input type="email" class="form-control" required ng-model="student.address" id="address" placeholder="Enter Address">
                                </div>
                                <div class="col-md-6">
                                    <label for="phone">Phone Number</label>
                                    <input type="text" class="form-control" required ng-model="student.contact" id="phone" placeholder="Enter Phone Number">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" required ng-model="student.password" id="password" placeholder="Enter password">
                                </div>
                                <div class="col-md-6">
                                    <label for="cpassword">Confirm Password</label>
                                    <input type="password" class="form-control" required ng-model="student.confirmPassword" id="cpassword" placeholder="Confirm password" ng-blur="validatePassword(student.password,student.confirmPassword)">
                                    <div ng-show="passwordMismatch" class="text-danger">Passwords do not match.</div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="subscribe" id="subscribe">
                                    <label class="form-check-label" for="subscribe">Subscribe to our newsletter</label>
                                </div>
                            </div><div class="form-group">
                            <div class="form-check" ng-click="enableRegister = true">
                                <input class="form-check-input" type="checkbox" name="subscribe" id="terms">
                                <label class="form-check-label" for="subscribe">Agree to Terms and Conditions</label>
                            </div>
                        </div>

                        </div>

                        <button type="submit" class="btn btn-primary btn-block" ng-disabled="!enableRegister">Register</button>
                    </form>

                </div>

                <div ng-show="!studentRegister">
                    <form ng-submit="addStaff()">
                        <input type="hidden" name="id" ng-model="staff.id">
                        <div class="form-group">
                            <label for="uname">Full Name</label>
                            <input type="text" class="form-control" required ng-model="staff.uname" id="uname" placeholder="Enter Full name">
                            <br>
                            <label for="email">Email</label>
                            <input type="email" class="form-control" required ng-model="student.uemail" id="umail" placeholder="Enter email">
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" required ng-model="staff.upassword" id="upassword" placeholder="Enter password">
                                </div>
                                <div class="col-md-6">
                                    <label for="cpassword">Confirm Password</label>
                                    <input type="password" class="form-control" required ng-model="staff.confirmPassword" id="cupassword" placeholder="Confirm password" ng-change="validatePassword(staff.upassword,staff.confirmPassword)">
                                    <div ng-show="passwordMismatch" class="text-danger">Passwords do not match.</div>
                                </div>
                            </div>

                        </div>

                        <button type="submit" class="btn btn-primary  btn-block">Register.</button>

                    </form>
                </div>
                <p class="mt-3 text-center">Already have Acccount?<a class="text-primary" href="#" ng-click="twoModal('logIn','register')"> Log In here</a></p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imgModalLabel">Picture For Your Library Card</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Select Photo for your Card</p>
                <form ng-submit="addImg()" enctype="multipart/form-data">

                    <input type="file" file-model="imageFile" accept="image/jpeg, image/png,image/jpg" />

                    <br>
                    <div class="cropper-container">
                        <img id="image" ng-src="{{ imageSrc }}" />
                    </div>
                    What an Ugly Face!!

                    <br>

                <br>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">I will Do it later</button>
                <button type="submit" class="btn btn-primary">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>

