<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel">
    <div class="modal-dialog modal-dialog-centered custom-modal" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="profileModalLabel">Profile</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex">
                <div class="text-center mr-4 d-flex flex-column align-items-center">
                    <img src="/Pictures/{{student.imgName !== null ? student.imgName : defaultImg }}" alt="Profile Image" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
                    <br>
                    <button type="button" class="btn btn-primary mb-2 equal-width-buttons" ng-click="twoModal('img','profile')">Change Picture</button>
                    <button type="button" class="btn btn-primary mb-2 equal-width-buttons" ng-click="twoModal('updateSelf','profile')">Edit Profile</button>
                    <button type="button" class="btn btn-secondary equal-width-buttons" ng-click="twoModal('cPassword','profile')">Change Password</button>
                </div>
                <div>
                    <h3>Information : </h3>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <strong>ID:</strong> {{student.id}}
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="mb-6">
                                <strong>Name:</strong> {{student.fname}} {{student.lname}}
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <strong>Semester:</strong> {{student.semester}}
                    </div>
                    <div class="mb-3">
                        <strong>Email:</strong> {{student.email}}
                    </div>
                    <div class="mb-3">
                        <strong>Contact:</strong> {{student.contact}}
                    </div>
                    <div class="mb-3">
                        <strong>Address:</strong> {{student.address}}
                    </div>
                    <div class="mb-3">
                        <strong>College:</strong> Kathmandu Bernhardt College
                    </div>
                    <div class="mb-3">
                        <strong>Registered on:</strong> 2023/08/08
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cPasswordModal" tabindex="-1" role="dialog" aria-labelledby="cPasswordModalLabel">
    <div class="modal-dialog modal-dialog-centered  modal-md  custom-modal" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="cPasswordModalLabel">Change Password</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" ng-click="passwordMismatch = false">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ng-submit="changePassword()">
                    <input type="hidden" name="id" ng-model="student.id">
                    <div class="form-group">
                        <span class="text-danger" ng-show="logInErrorStatus"> {{passError}} <br></span>
                        <label for="password">Old Password</label>
                        <input type="password" class="form-control" required ng-model="student.password" id="password" placeholder="Enter password"><br>
                        <label for="password">New Password</label>
                        <input type="password" class="form-control" required ng-model="student.npassword" id="npassword" placeholder="Enter password"><br>
                        <label for="ncpassword">Confirm New Password</label>
                        <input type="password" class="form-control" required ng-model="student.ncpassword" id="ncpassword" placeholder="Enter password" >

                    </div>
                    <button type="submit" class="btn btn-primary" >Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="updateSelfModal" tabindex="-1" role="dialog" aria-labelledby="updateSelfModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateSelfModalLabel">Update Student Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p ng-show="google === true">Please Complete the Profile. This will only be shown this Time</p>
                <form ng-submit="updateSelf()">
                    <input type="hidden" name="id" ng-model="student.id">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="fname">First Name</label>
                                <input type="text" class="form-control" required ng-model="student.fname" id="fname" placeholder="Enter first name">
                            </div>
                            <div class="col-md-6">
                                <label for="lname">Last Name</label>
                                <input type="text" class="form-control" required ng-model="student.lname" id="lname" placeholder="Enter last name">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-7">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" required ng-model="student.email" id="email" placeholder="Enter email">
                            </div>
                            <div class="col-md-5">
                                <label for="semester">Semester</label>
                                <input type="text" class="form-control" required ng-model="student.semester" id="semester" placeholder="Enter semester">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="Address">Address</label>
                                <input type="text" class="form-control" required ng-model="student.address" id="address" placeholder="Enter Address">
                            </div>
                            <div class="col-md-6">
                                <label for="phone">Phone Number</label>
                                <input type="text" class="form-control" required ng-model="student.contact" id="phone" placeholder="Enter Phone Number">
                            </div>
                        </div>
                        <br>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Student</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="setPasswordModal" tabindex="-1" role="dialog" aria-labelledby="setPasswordModalLabel">
    <div class="modal-dialog modal-dialog-centered  modal-md  custom-modal" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="setPasswordModalLabel">Set Password</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" ng-click="logInErrorStatus = false">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> Your Information is sucessfully added.Now you have to set Password for your convenience when Your Google account is unavailable </p>
                default pass = 12345
                <form ng-submit="setPassword()">
                    <input type="hidden" name="id" ng-model="student.id">
                    <div class="form-group">
                        <span class="text-danger" ng-show="logInErrorStatus"> {{passError}} <br></span>
                        <label for="password">New Password</label>
                        <input type="password" class="form-control" required ng-model="student.snpassword" id="snpassword" placeholder="Enter password"><br>
                        <label for="ncpassword">Confirm New Password</label>
                        <input type="password" class="form-control" required ng-model="student.sncpassword" id="sncpassword" placeholder="Enter password" >

                    </div>
                    <button type="submit" class="btn btn-primary" >Set Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
